<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" href="../css/admin.css"> 
    </head>
    <body background="../imagenes/Fondo.jpg">
        <script src="../scripts/mostrarCategoriasAdmin.js"></script>
        <div >
            <div style="float: left; padding: 35px; margin: 0 30px ">
                <a href="opciones" title="Volver Atrás" style="float: left">
                    <img src="../imagenes/Icon ionic-ios-exit.png" alt="" />
                </a>
            </div>

            <div id="busqueda" style="float: left" >

                <form class="form">
                    <input type="text" id="txtBusqueda" name="barraBusqueda">
                </form>
                <a href="productos" title="Buscar" style="margin-left: 10px">
                    <img src="../imagenes/Icon metro-search.png" alt="" width="40"/>
                </a>
            
            <div style="float: left; padding: 35px; margin: 0 30px ">
                <a href="#" title="Administrador" style="float: left">
                    <img src="../imagenes/Icon awesome-user-lock.png" alt="" width="60"/>
                </a>
            </div></div>
        </div>
        <div id="Productos">
                <table id="tablaCategorias" style="width: 100%; height: 500px">
                    
                </table>

        </div>
    </body>
</html>
