<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ADMIN</title>
        <link rel="stylesheet" href="../css/admin.css">     
    </head>

    <body background="../imagenes/Fondo.jpg">
        <div>
            <div style="float: left; padding: 35px; margin: 0 30px ">
                <a href="Ingresar" title="Volver Atrás" style="float: left">
                    <img src="../imagenes/Icon ionic-ios-exit.png" alt="" />
                </a>
            </div>

            <div id="busqueda" style="float: left">

                <form class="form">
                    <input type="text" id="txtBusqueda" name="barraBusqueda">
                </form>
                <a href="productos" title="Buscar" style="margin-left: 10px">
                    <img src="../imagenes/Icon metro-search.png" alt="" width="40"/>
                </a>
            
            <div style="float: left; padding: 35px; margin: 0 30px ">
                <a href="#" title="Administrador" style="float: left">
                    <img src="../imagenes/Icon awesome-user-lock.png" alt="" width="60"/>
                </a>
            </div></div>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
        <h1 align="center" style="font-size: 80px;">Bienvenido 1</h1><br><br><br><br><br>

        <div align="center"><a href="/AgregarProducto" class="button"  >Agregar un nuevo producto</a></div>
        <div align="center"><a href="/Admin_Categorias" class="button"  >Ver categorias</a></div>
        <div align="center"><a href="/Admin_BuscarBoletas" class="button"  >Buscar Boleta</a></div>

    </body>
</html>
