<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body background="../imagenes/Fondo.jpg" >
        
        
         
        <div>

            <h1 class="display-1" style="font-size: 70px; text-align: center; color: white" th:each="admin: ${listaAdmin}" th:text="'BIENVENIDO  ' + ${admin.nombre}"></h1>
            <br><br><br>

        </div>

        <div class="container">
            <form METHOD="POST" action="buscarProducto">
                <label class="col-form-label">Id del producto:</label>
                <input   id="iD" name="codigo" required=""  placeholder="codigo">
                <input type="submit" value="Buscar" class="btn btn-primary" style="margin-left: 15px"></th>

            </form>
        </div>

        <div class="container">


            <h2 th:if="${lista.isEmpty()}">no hay productos</h2>

            <div th:if="${!lista.isEmpty()}" style="background-color: white; padding: 15px; max-height: 25%; box-shadow: 2px 2px 5px #999999">
                <h2 class="display-5" style="text-align: center">Productos</h2>

                <h5 class="display-6" style="font-size: 22px">Agregar un nuevo producto</h5>


                <form method="POST" action="guardarProducto">
                    <table>
                        <tr>
                            <th><input class="form-control form-control-lg" type="text" id="fURL" name="fURL" required=""  placeholder="URL Imagen"></th>
                            <th><input class="form-control form-control-lg" type="text" id="fnombre" name="fnombre" required="" placeholder="Nombre"></th>
                            <th><input class="form-control form-control-lg" min="1" max="999999999" type="number" id="fprecio" name="fprecio" required="" placeholder="Precio" size="5"></th>
                            <th>
                                <select class="form-control form-control-lg"  id="categorias" name="categorias" size="1" style="padding: 3px 15px" required>
                                    <option value="">Seleccionar Categoría</option>
                                    <option th:each="categoria : ${listaC}" th:value="${categoria.id}" th:text="${categoria.categoria}"></option>
                                </select>
                            </th>
                            <th><input type="submit" value="Guardar" class="btn btn-primary" style="margin-left: 15px"></th>
                        </tr>
                        
                    </table>
                </form>
                <div style="overflow-y: scroll; height: 340px;"> 
                    <table  class="table">
                        <thead>
                            <tr>
                            <th>Codigo</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Categoria</th>
                            <th>Opciones</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr th:each="producto: ${lista}" >
                                <td th:text="${producto.idProducto}">
                                <td><img width="35" height="45" th:src="@{${producto.URLImagen}}" alt=""/></td>
                                <td th:text="${producto.nombre}">
                                <td th:text="${producto.precio}">
                                <td th:text="${producto.idCateg.getCategoria()}">
                                <td>
                                   
                                    <button onclick="PasarValor(this);" id="btn-EditarProducto" th:value="${producto.idProducto}+';'+${producto.URLImagen}+';'+${producto.nombre}+';'+${producto.precio}+';'+${producto.idCateg.getId()}" type="" class="boton btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" >Editar</button>
                                      
                                    <a class="btn btn-danger" th:href="@{/eliminar/{id}(id=${producto.idProducto})}">Eliminar</a>
                                </td>

                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
   
   


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form  >
                            <div class="form-group">
                                <label for="URLProducto" class="col-form-label">URL de imagen:</label>
                                <input type="text" class="form-control" id="URLProducto">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombreProducto">
                            </div>
                            <div class="form-group">
                                <label for="precioProducto" class="col-form-label">Precio:</label>
                                <input type="text" class="form-control" id="precioProducto">
                            </div>

                            <div class="form-group">
                                <label for="categoriaProducto" class="col-form-label">Categoria:</label>
                                <select class="form-control form-control-lg"  id="categoriaProducto" name="categorias" size="1" style="padding: 3px 15px" required>
                                    <option value="">Seleccionar Categoría</option>
                                    <option th:each="categoria : ${listaC}" th:value="${categoria.id}" th:text="${categoria.categoria}"></option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
   function PasarValor(elemento){
       
       
       var arrayDeCadenas = elemento.value.split(";");
        
        console.log(arrayDeCadenas);
       document.getElementById("URLProducto").value = arrayDeCadenas[1];
       document.getElementById("nombreProducto").value = arrayDeCadenas[2];
       document.getElementById("precioProducto").value = arrayDeCadenas[3];
       document.getElementById("categoriaProducto").value = arrayDeCadenas[4];
       
       
 }
</script> 
     
    </body>
</html>
