<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

        <link rel="stylesheet" href="../css/admin.css">
    </head>
    <body background="../imagenes/Fondo.jpg">
        <div>
            <div style="float: left; padding: 35px; margin: 0 30px ">
                <a href="Admin_Productos" title="Volver Atrás" style="float: left">
                    <img src="../imagenes/Icon ionic-ios-exit.png" alt="" />
                </a>
            </div>

            <div id="busqueda" style="float: left">

                <form class="form">
                    <input type="text" id="txtBusqueda" name="barraBusqueda">
                </form>
                <a href="productos" title="Buscar" style="margin-left: 10px">
                    <img src="../imagenes/Icon metro-search.png" alt="" width="40"/>
                </a>

                <div style="float: left; padding: 35px; margin: 0 30px ">
                    <a href="#" title="Administrador" style="float: left">
                        <img src="../imagenes/Icon awesome-user-lock.png" alt="" width="60"/>
                    </a>
                </div></div>
        </div>


        <br><br><br>
        <div style="display: inline">
            <div style="display: inline-block">


                <form method="POST" action="consultaAdmin" style="text-align:center;">


                    <input type="text" name="name" value="Huawei P40 Lite" style="padding: 10px; margin-bottom: 20px"/><br>

                    <input type="text" name="precio" value="$250.000" style="padding: 10px"/><br><br>


                </form> 

                <h1 style="color: gray; font-size: 30px; margin: 50px 30px">ID PRODUCTO: CEL-1234</h1>
            </div>
            
            <div style="display: inline-block">
                <h2 style=" margin-left: 100px; background-color: white; border: none"><img src="../imagenes/Producto-Celular.jpg" alt="" width="200"/></h2><br>
                <input type="text" name="name" value="Imagen.jpg" style="padding: 10px; margin-bottom: 20px; margin-left: 105px"/><br>
            </div>
            
            <div style="margin-left: 330px">

                <input type="submit" value="Guardar" class="button" onclick="actualizarClick()">
            </div >
            <div style=" margin-left: 300px">
                <a href="opciones"><input type="submit" value="Eliminar Producto" class="button" onclick="eliminarClick()"></a>
            </div>
 
        </div>
        
        
            
        
        <script type="text/javascript">

            function actualizarClick() {
            alert("Producto actualizado");
            }
            function eliminarClick() {
            alert("Producto eliminado");
            }

        </script>
    </body>
</html>
