<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <style>
    .button {
    background-color: #660099;
    border: black;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    border-radius:22px; 
    text-align: center;

}
input[type=text] {
  width: 27%; 
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
     
  
}
    </style>
    <head>

    </head>
    <body background="../imagenes/Fondo.jpg" class="body" >
     


        <form method="POST" action="buscarBoleta" >

            
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div style="text-align:center; font-size: 30px">
            <label for="fname">N° de boleta:</label>
            <input type="text" name="numero" class="imput" style="margin-left: 100px"/><br>
              
            <br><br><br><br><br><br>
            </div>
            <div style="text-align:right;">
                <input type="submit" value="buscar Boleta" class="button">
            </div>

        </form> 
    </body>

</html>
