<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
       <link rel="stylesheet" href="../css/admin.css"> 
    </head>
    <body background="../imagenes/Fondo.jpg">
         <div>
            <div style="float: left; padding: 35px; margin: 0 30px ">
                <a href="opciones" title="Volver Atrás" style="float: left">
                    <img src="../imagenes/Icon ionic-ios-exit.png" alt="" />
                </a>
            </div>

            <div id="busqueda" style="float: left">

                <form class="form">
                    <input type="text" id="txtBusqueda" name="barraBusqueda" value="">
                </form>
                <a href="productos" title="Buscar" style="margin-left: 10px">
                    <img src="../imagenes/Icon metro-search.png" alt="" width="40"/>
                </a>
            
            <div style="float: left; padding: 35px; margin: 0 30px ">
                <a href="#" title="Administrador" style="float: left">
                    <img src="../imagenes/Icon awesome-user-lock.png" alt="" width="60"/>
                </a>
            </div></div>
        </div>
        <th><a href="/Admin_ProductoSeleccionado"><img src="../imagenes/Producto-Celular.jpg" alt="" width="60"/></a></th>
        <div id="Productos">
                <table style="width: 100%; height: 500px">
                    <tr>
                        <th><a href="/Admin_ProductoSeleccionado"><img src="../imagenes/Producto-Celular.jpg" alt="" width="60"/></a></th>
                        <th><img src="../imagenes/productos/celulares/Apple - Iphone 12 pro.jpg" alt="" width="80"/></th>
                        <th><img src="../imagenes/productos/celulares/Huawei Nova Pro 5.jpg" alt="" width="80"/></th>
                        <th><img src="../imagenes/productos/celulares/Huawei Y9 Prime.png" alt="" width="80"/></th>
                        <th><img src="../imagenes/productos/celulares/Motorola One Fusion.jpg" alt="" width="80"/></th>
                    </tr>
                    <tr style="text-align: center">
                        <td>CELULAR</td>
                        <td>Apple Iphone 12 Pro</td>
                        <td>Huawei Nova Pro 5</td>
                        <td>Huawei Y9 Prime</td>
                        <td>Motorola One Fusion</td>
                    </tr>
                    <tr>
                        <th><img src="../imagenes/productos/celulares/Samsung A30.jpg" alt="" width="60"/></th>
                        <th><img src="../imagenes/productos/celulares/Samsung S10.jpg" alt="" width="90"/></th>
                        <th><img src="../imagenes/productos/celulares/Samsung S21PLUS.png" alt="" width="80"/></th>
                        <th><img src="../imagenes/productos/celulares/Sony xperia 1.jpg" alt="" width="80"/></th>
                        <th><img src="../imagenes/productos/celulares/Xiaomi POCO x3 Pro.jpg" alt="" width="80"/></th>
                    </tr>
                    <tr style="text-align: center">
                        <td>Samsung A30</td>
                        <td>Samsung S10</td>
                        <td>Samsung S21 Plus</td>
                        <td>Sony Xperia 1</td>
                        <td>Xiaomi POCO X3 Pro</td>
                    </tr>
                    <tr>
                        <th><img src="../imagenes/productos/celulares/Xiaomi redmi 9.jpg" alt="" width="100"/></th>
                        <th><img src="../imagenes/productos/celulares/huawei P30.jpg" alt="" width="80"/></th>
                        <th><img src="../imagenes/productos/celulares/iphone8plus.jpg" alt="" width="80"/></th>
                        <th><img src="../imagenes/productos/celulares/motorola-moto-g8-plus-1.jpg" alt="" width="90"/></th>
                        <th><img src="../imagenes/productos/celulares/samsung-galaxy-a70.jpg" alt="" width="80"/></th>
                    </tr>
                    <tr style="text-align: center">
                        <td>Xiaomi Redmi 9</td>
                        <td>Huawei P30</td>
                        <td>Apple Iphone 8 Plus</td>
                        <td>Motorola Moto G8 Plus</td>
                        <td>Samsung Galaxy A70</td>
                    </tr>
                </table>
                
            </div>
    </body>
</html>
