<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es-CL">

    <head>
        <title>CLIENTE-CATEGORIAS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/cliente.css">
    </head>

    <body background="../imagenes/Fondo.jpg" style="background-repeat: no-repeat">
        <div>
            <div id="busqueda">
                <a href="#" title="Volver Atrás">
                    <img src="../imagenes/Icon ionic-ios-exit.png" alt="" />
                </a>
                <form class="form">
                    <input type="text" id="txtBusqueda" name="barraBusqueda">
                </form>
                <a href="#" title="Buscar">
                    <img src="../imagenes/Icon metro-search.png" alt="" width="40"/>
                </a>
            </div>

            <div id="carrito" class="fontCarrito">
                <div style="float: left">
                    <h1><img src="../imagenes/Icon metro-cart.png" alt="" width="35" /> Carrito</h1>

                </div>
            </div>

            <div id="Productos" style="display: inline">
                <div style="display: inline-block">
                    <h1 style="color: gray; font-size: 35px; margin: 50px 30px">NOMBRE DEL PRODUCTO</h1>
                    <h1 style="color: gray; font-size: 30px; text-align: right">$00.000</h1>
                    <h1 style="color: gray; font-size: 30px; margin: 50px 30px">ID PRODUCTO: CEL-1234</h1>
                </div>
                <h2 style="display: inline-block; margin-left: 100px; background-color: white; border: none"><img src="../imagenes/Producto-Celular.jpg" alt="" width="200"/></h2>
                <div style="float: right">
                    <a href="#" title="Agregar al Carro" style="text-decoration: none; display: inline-block"><h2 style="background-color: rgb(125,98,180); border: none; margin-right: 20px; color: white">Agregar al Carro</h2></a>
                    <h3 style="display: inline-block; background-color: rgb(125,98,180); margin-right: 100px; color: white">1 <img src="../imagenes/Icon ionic-ios-arrow-down_BLANCO.png" alt=""/></h3>
                    
                </div>

            </div>

            <div id="carritoproductos" style="position: inherit; right: 0">

                <div style="display: inline">
                    <div style="margin-top: 20px">
                        <h2 style="background-color: white; display: inline-block; margin-right: 50px"> Nombre del Producto</h2>
                        <img src="../imagenes/Producto-Celular.jpg" alt="" style="background-color: white; display: inline-block; float: right" width="100"/>
                    </div>

                    <div style="margin-top: 15px">
                        <a href="#" title="Eliminar" style="display: inline-block"><img src="../imagenes/Icon ionic-ios-trash.png" alt="" style="margin-right: 15px"/></a>
                        <h3 style="display: inline-block">$400000</h3>
                        <h3 style="display: inline-block">1 <img src="../imagenes/Icon ionic-ios-arrow-down.png" alt=""/></h3>
                    </div>
                </div>

                <div style="display: inline">
                    <div style="margin-top: 50px">
                        <h2 style="background-color: white; display: inline-block; margin-right: 50px"> Nombre del Producto</h2>
                        <img src="../imagenes/Producto-Celular.jpg" alt="" style="background-color: white; display: inline-block; float: right" width="100"/>
                    </div>

                    <div style="margin-top: 15px">
                        <a href="#" title="Eliminar" style="display: inline-block"><img src="../imagenes/Icon ionic-ios-trash.png" alt="" style="margin-right: 15px"/></a>
                        <h3 style="display: inline-block">$400000</h3>
                        <h3 style="display: inline-block">1 <img src="../imagenes/Icon ionic-ios-arrow-down.png" alt=""/></h3>
                    </div>
                </div>


                <div style="position: absolute; bottom: 50px; right: 70px">
                    <h3 style="background-color: rgb(125,98,180); color: white; float: left; margin-right: 35px">Realizar Compra</h3>
                    <h3 style="display: inline-block">Total</h3>
                    <h3 style="display: inline-block">$40000</h3>
                </div>

            </div>

        </div>

    </body>

</html>
