
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es-CL " xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <style>
            #moopio, #moopio a{
                background-color: transparent;
                width: 100%;
            }
            #moopio a{
                display:block;
            }
            #moopio a:hover {
                cursor:default;
                box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.2)
            }
        </style>
        <title>CLIENTE-CATEGORIAS</title>
        <link rel="stylesheet" href="../css/cliente.css"></link>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></link>

        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    </head> 

    <body style="background-image: url('../imagenes/Fondo.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: fixed;">

        <header>
            <div class="navbar-left">
                <nav class="navbar navbar-inverse navbar-static-top navbar-dark bg-dark" role="navigation">
                    <div class="container-fluid justify-content-center">
                        <form action="" class="d-flex col-8">
                            <input type="search" class="form-control me-2 col" placeholder="Buscar producto" aria-label="Buscar producto" id="txtBusqueda" name="barraBusqueda"></input>
                            <button type="submit" class="btn ml-2">
                                <a href="/Cliente_Productos" title="Buscar">
                                    <img src="../imagenes/search.svg" width="25" style="filter: invert(1.5)"></img>
                                </a>
                            </button>

                        </form>
                        <button class="btn ml-2">
                            <a class="btn btn-outline-info" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                <img src="../imagenes/Icon metro-cart.png" width="25" style="filter: invert(1.5)"/>
                                Carrito
                            </a>
                        </button>
                    </div>
                </nav>
            </div>
        </header>




        <div class=" bg-light container " > 
            <div class="d-flex justify-content-center mt-4 pt-2"> 
          <h2 class="display-5" style="text-align: center">Productos</h2>
          </div>
            <div th:if="${!listaP.isEmpty()}"  class="row row-cols-4 " >
                


                <div  style="width: 150px" th:each="productos :${listaP}" id="moopio" class="col card " >

                    <a style="text-decoration: none; color: inherit" th:href="@{/mostrarProducto/{id}(id=${productos.idProducto})}" >
                        <div   id="moopio" class="card-body  p-2 border bg-light">
 
                            <img class="card-img-top" width="100%" th:src="@{${productos.URLImagen}}" alt=""/>
                            <p th:text="${productos.nombre}" class="card-text "></p>

                        </div> 
                    </a>

                </div>

            </div>

        </div>


        <div class="offcanvas offcanvas-end mt-6" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="true" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <img src="../imagenes/Icon metro-cart.png" width="25"/>
                <h5 class="offcanvas-title" id="offcanvasTitulo">Carrito</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>

                    <div style="display: inline">
                        <div style="margin-top: 20px">
                            <h2 style="background-color: white; display: inline-block; margin-right: 50px">Apple Iphone 12</h2>
                            <img src="../imagenes/productos/celulares/Apple Iphone 12.jpg" alt="" style="background-color: white; display: inline-block; float: right" width="100"/>
                        </div>

                        <div style="margin-top: 15px">
                            <a href="#" title="Eliminar" style="display: inline-block"><img src="../imagenes/Icon ionic-ios-trash.png" alt="" style="margin-right: 15px"/></a>
                            <h3 style="display: inline-block">$1.200.000</h3>
                            <h3 style="display: inline-block">1 <img src="../imagenes/Icon ionic-ios-arrow-down.png" alt=""/></h3>
                        </div>
                    </div>

                    <div style="display: inline">
                        <div style="margin-top: 50px">
                            <h2 style="background-color: white; display: inline-block; margin-right: 50px">Memoria RAM HyperX</h2>
                            <img src="../imagenes/productos/ComponentesPC/Memoria RAM HyperX DDR4 8GB.jpg" alt="" style="background-color: white; display: inline-block; float: right" width="100"/>
                        </div>

                        <div style="margin-top: 15px">
                            <a href="#" title="Eliminar" style="display: inline-block"><img src="../imagenes/Icon ionic-ios-trash.png" alt="" style="margin-right: 15px"/></a>
                            <h3 style="display: inline-block">$98.800</h3>
                            <h3 style="display: inline-block">2 <img src="../imagenes/Icon ionic-ios-arrow-down.png" alt=""/></h3>
                        </div>
                    </div>


                    <div style="position: absolute; bottom: 50px; right: 70px">
                        <a href="/Cliente_Boleta"><h3 style="background-color: rgb(125,98,180); color: white; float: left; margin-right: 35px">Realizar Compra</h3></a>
                        <h3 style="display: inline-block">Total:</h3>
                        <h3 style="display: inline-block">$1.298.800</h3>
                    </div>


                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    </body>

</html>