<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>

    <body background="../imagenes/Fondo.jpg" style="background-repeat: no-repeat">
        <div>
            <div id="busqueda">
                <a href="/Cliente_Productos" title="Volver Atrás">
                    <img src="../imagenes/Icon ionic-ios-exit.png" alt="" />
                </a>
                <form class="form">
                    <input type="text" id="txtBusqueda" name="barraBusqueda">
                </form>
                <a href="/Cliente_Productos" title="Buscar">
                    <img src="../imagenes/Icon metro-search.png" alt="" width="40"/>
                </a>
            </div>

            <div id="carrito" class="fontCarrito">
                <div style="float: left">
                    <h1><img src="../imagenes/Icon metro-cart.png" alt="" width="35" /> Carrito</h1>

                </div>
            </div>

           


            <div th:if="${!listaP.isEmpty()}">
                
                <div style="display: inline" th:each="producto:${listaP}">
                <div style="display: inline-block; background-color: white" >
                    <h6 th:text="${producto.idCateg.getCategoria()}+'•'+ ${producto.idProducto}" ></h6>
                    <h1 th:text="${producto.nombre}" ></h1>
                    <h3 th:text="'$'+${producto.precio}"></h3>
                    <h3 th:text="${producto.idProducto}"></h3>
                </div>
                <h2 style="display: inline-block; margin-left: 170px; background-color: white; border: none"><img width="350" height="" th:src="@{${producto.URLImagen}}" alt=""/></h2>
                <div style="float: right">
                    <a href="#" title="Agregar al Carro" style="text-decoration: none; display: inline-block"><h2 style="background-color: rgb(125,98,180); border: none; margin-right: 20px; color: white">Agregar al Carro</h2></a>
                    <a href="#"><h3 style="padding-top: 9px; display: inline-block; background-color: rgb(125,98,180); margin-right: 100px; color: white">1 <img src="../imagenes/Icon ionic-ios-arrow-down_BLANCO.png" alt=""/></h3></a>

                </div>

            </div>
                </div>
             
 

        </div>

    </body>

</html>
