<!DOCTYPE html xmlns:th="http://www.thymeleaf.org">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html> 
    <head>
        <title>BOLETA-CLIENTE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body background="../imagenes/Fondo.jpg">
 
        <h1 align="center" style="font-size: 40px;">Boleta</h1>
        <div style="background-color: white; width: 40%; margin: 0 30%; position:relative; height:600px">
            <h1 align="center" style="font-size: 20px;">R.U.T: 00.000.000-0</h1> 
            <h1 align="center" style="font-size: 20px;">BOLETA ELECTRONICA</h1>
            <h1 align="center" style="font-size: 20px;">N° 11111</h1><br>
            <table style="margin: 0 auto; text-align: left; ">
                <tr><td align="left" style="font-size: 20px; ">Dirección de la tienda: Dirección 321</td><tr>   
                <tr><td align="left" style="font-size: 20px; ">Telefono:  +5699999999</td><tr>
                <tr><td align="left" style="font-size: 20px; ">Fecha: 00-00-0000</td><tr>
            </table><br><br>  
            <hr>

            <table style="margin: 0 auto; text-align: left; ">
                <tr>

                    <td align="center" style="width:100px">CANT.</td>
                    <td style="width:200px">ITEM.</td>
                    <td style="width:100px">VALOR U.</td>
                    <td style="width:100px">SUBTOTAL</td>
                </tr>
                <tr>
                    <td align="center">1</td>
                    <td>Iphone 12</td>
                    <td>1.200.000</td>
                    <td>1.200.000</td>
                </tr>
                <tr>
                    <td align="center" style="width:100px">2</td>
                    <td style="width:200px">Memoria RAM hyperx </td>
                    <td style="width:100px">49.900</td>
                    <td style="width:100px">98.800</td>
                </tr>
                <tr>
                    <td align="center">1</td>
                    <td>Carcasa Iphone 12</td>
                    <td>10.000</td>
                    <td>10.000</td>
                </tr>

            </table>

            <hr>
            <h1 align="right" style="font-size: 15px; margin-right: 30px">Total: $1.308.000</h1>
        </div>
        <div style="position: absolute; bottom: 0; right: 150px">
            <a href="/Ingresar" style="text-decoration: none"><h2 style="background-color: rgb(125,98,180); border: none; color: white; font-style: italic; padding: 5px 10px; border-radius: 20px">Finalizar</h2></a>
        </div>
             
        <form th:object="${producto}" th:action="@{/productos/agregar}" method="post">
    <div class="form-group">
        <label for="nombre">Nombre del producto</label>
        <input th:field="*{nombre}" id="nombre" placeholder="Escribe el nombre del producto" type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="codigo">Código de barras</label>
        <input th:field="*{codigo}" id="codigo" placeholder="Escribe el código del producto" type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="existencia">Existencia actual</label>
        <input th:field="*{existencia}" id="existencia" placeholder="Cantidad actual del producto" type="number"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="existencia">Precio</label>
        <input th:field="*{precio}" id="precio" placeholder="Precio del producto" type="number"
               class="form-control">
    </div>
    <button class="btn btn-success" type="submit">Guardar</button>
    &nbsp;<a class="btn btn-warning" th:href="@{/productos/mostrar}">Ver todos</a>
</form>
        
        
    </body>
</html>
